streamlit
python-dotenv
pdfplumber
langchain
langchain-community
langchain-google-genai
faiss-cpu
# faiss-gpu  # Uncomment if you have a compatible GPU and want to use it for faster indexing
sentence-transformers
google-generativeai
datasets